body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    transition: background-color 1s;
    background-color: #333;
}

h1 {
    color: #333;
}

button{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    display: inline-block;
}

#result {
    margin: 20px;
    font-size: 18px;
    color: #333;
}

.color-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 153, 255, 0.5) ; /* Измените цвет, если нужно */
    opacity: 0; /* Начальная прозрачность */
    pointer-events: none; /* Позволяет элементу быть невидимым для пользовательских событий */
    z-index: 9999; /* Выберите подходящий z-index */
    animation: flash 0.5s ease-out forwards; /* Измените продолжительность анимации и функцию сглаживания (ease-out) по вашему усмотрению */
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
}

/* Стили для переключателя */
.switch_checkbox {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 82px;
    height: 43px;
}

.switch_checkbox input {
    margin-top: 20px;
    opacity: 0;
    width: 0;
    height: 0;
}

/* .switch {
    display: flex;
    align-items: center;
    margin-top: 10px;
} */

input {
    min-width: 300px;
    min-height: 45px;
    border-radius: 40px;
    background-color: white;
}

input::placeholder {
    color: #8e8e8e;
}

.container_center {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#isConnection{
    width: 60px;
    height: 60px;
    text-align: center;
}

#toggleStream {
    display: flex;
    margin-left: 20px;
    outline: none; 
    border: 0;
    width: 55px;
    height: 55px;
    background-color: #333;
    background-image: url('../static/img/start.png');
    background-size: cover;     
}

#isConnection {
    display: flex;
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 20px 0px rgba(255, 0, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(255, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 20px 0px rgba(255, 0, 0, 0.7);
    }
}
@keyframes breathe_a {
    0% {
        box-shadow: 0 0 20px 0px rgba(0, 255, 85, 0.7);
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(0, 255, 85, 0.3);
    }
    100% {
        box-shadow: 0 0 20px 0px rgba(0, 255, 85, 0.7);
    }
}

@keyframes breathe_listen {
    0% {
        box-shadow: 0 0 20px 0px rgba(0, 204, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(0, 204, 255, 0.3);
    }
    100% {
        box-shadow: 0 0 20px 0px rgba(0, 204, 255, 0.7);
    }
}

.circle {
    width: 150px;
    height: 150px;
    background: #787878;
    border-radius: 50%;
    position: relative;
    animation: breathe 2s infinite alternate; /* Применяем ключевые кадры */
}

.active {
    animation: breathe_a 2s infinite alternate; /* Применяем ключевые кадры */
}

.listen {
    animation: breathe_listen 2s infinite alternate; /* Применяем ключевые кадры */
}
.microphone-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.microphone-icon {
    align-items: center;
    max-width: 70%;
    max-height: 70%;
}

.container_glav {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_input {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #787878;
    border-radius: 10px;
    border: 2px solid #a0a0a0;
    height: 200px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CC3E35;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 43px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 37px;
    width: 37px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    background-image: url(../static/img/thunder.png);
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(37px);
    -ms-transform: translateX(37px);
    transform: translateX(37px);
}

.hidden {
    display: none !important;
}

.hidden.show {
    display: block;
}

.background-blue {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 49, 225, 0.4); 
    content: "";
    z-index: 9999;
}
